/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #e76458;
}

.text-accent {
  color: var(--accent);
}

.bg-accent {
  background-color: var(--accent);
}

.border-accent {
  border-color: var(--accent);
}